(cloudflare) {
  tls {
    dns cloudflare VRpS9DyCuG6M_kD9XE3BZsEYgfDJ0w-dYVpITAdO
  }
}

# immich
immich.rdu.dotsandstuff.dev {
  reverse_proxy http://10.42.0.42:2283
  import cloudflare
}

# audiobookshelf
audiobooks.rdu.dotsandstuff.dev {
  reverse_proxy http://10.42.0.42:2284
  import cloudflare
}

# jellyfin
jellyfin.rdu.dotsandstuff.dev {
  reverse_proxy http://10.42.0.42:2285
  import cloudflare
}